header {
  padding: 15px 20px;
  border-bottom: 1px solid rgb(237, 237, 239);
}

header .info-bar,
header .menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .info-bar .info-bar__icons {
  display: flex;
  align-items: center;
}

header .info-bar .info-bar__icons img {
  width: 20px;
  margin-right: 8px;
}

header .info-bar .info-bar__icons img:last-child {
  margin-right: 0;
}

header .menu-bar {
  padding: 15px 0;
}

header .menu-bar .menu-bar__location button {
  background-color: transparent;
  border: none;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu-bar .menu-bar__location button span {
  font-size: 20px;
  font-weight: bold;
}

header .menu-bar .menu-bar__location button img {
  width: 15px;
}

header .menu-bar .menu-bar__icons {
  display: flex;
  align-items: center;
}

header .menu-bar .menu-bar__icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

header .menu-bar .menu-bar__icons button img {
  width: 25px;
}
