@import "./header.css";
@import "./footer.css";
@import "./main.css";

@media (min-width: 650px) {
  main {
    padding: 0;
  }
  main .media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 100vh;
  }
  main .media span {
    font-size: 18px;
    color: #fff;
  }
  ul.write-lists {
    display: none;
  }
}
